.login{
    .bg{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        .inputLogin{
            width: 65vh;
            border:  0px solid white;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            margin: 0 auto;
            padding:30px;

            h2{
                color: $txtOrangePrimary;
            }
            p,i{
                color:$txtWhitePrimary;
                font-size: $h6;
            }
            button{
                font-size: $h6;
            }
            span{
                width: 40px;
            }
            input{
                font-size: $h6;
                background-color: transparent;
                color:$txtWhitePrimary;
                box-shadow: none;
                &:focus{
                    background-color: $whitePrimary;
                    color:$txtBlackPrimary;
                }
            }
        }
    }
}



