.userInfo {
     .ant-input-affix-wrapper {
         font-size: $h4;
        margin-bottom: 10px;
         input {
            font-size: 18px;
            color: $greenLight;
         }
    }

        .ant-input-prefix {
            width: 200px;
            color: $greenPrimary;
            span {
                padding: 5px 10px;
            }

            @include mediaQuery($sm) {
                width: 120px;
            }
        }

    #cancleBtn {
        border-color: $txtOrangePrimary;
        color: $txtOrangePrimary;
        width: 80px;
    }

    #okBtn {
        background-color: $orangePrimary;
        border-color: $txtOrangePrimary;
        width: 80px;
    }
}