//-----COLORS BACKGROUND------
$whitePrimary: #ffffff;
$whiteSecondary:	#f7f8fa;
$greyLight:	#f1f1f1;
$greyDark:	#686f7a;
$orangePrimary:	#eb8a2f;
$orangeLight: #f3c38b;
$orangeDark: #be5a0e;
$brownPrimary:	#73726c;
$brownDark:	#3c3b37;
$greenPrimary:	#094c59;
$greenLight:	#0f7c90;
$greenDark:	#003640;

//-----COLORS TEXT------	
$txtBlackPrimary:	#29303b;
$txtBrownPrimary:	#3c3b37;
$txtBrownLight:	#73726c;
$txtWhitePrimary:	#ffffff;
$txtOrangePrimary:	#eb8a2f;
$txtOrangeLight:	#f3c38b;
$txtOrangeDark:	#be5a0e;
$txtgreenPrimary:	#094c59;
$txtgreenLight:	#0f7c90;
$txtgreenDark:	#003640;

//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

//------BREAK POINT--------
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//-------FONT SIZE-------
$body1: 12px;
$body2: 1rem;
$h6: 16px;
$h5: 18px;
$h4: 20px;
$h3: 30px;
$h2: 40px;
$h1: 44px;