# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.vs/Elearning_Project/v16
/.firebase/hosting.YnVpbGQ.cache
/build
/firebase.json
/.firebaserc
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
