.courseDetail{
    .courseDetail_header{
        background: url('/img/education-bg.jpg');
        background-size: cover;
        background-repeat: none;
        background-attachment: fixed;
        height: 45vh;
        h2, h4{
            color: $whitePrimary;
        }
    }
}