.CourseEdit {
    .ant-form-item {
        margin-bottom: 0;
    }

    .ant-form-horizontal .ant-form-item-control {
        min-height: 60px;
    }

    .poster {
        @include mediaQuery($md) {
            order: 1;
        }
    }

    .form {
        @include mediaQuery($md) {
            order: 2;
        }
    }
}