.ratingStars {
    display: inline-block;
    padding-right: 7.5px;
    
    img.star {
        display: inline-block;
        width: 15px;
    }
    img.halfstar {
        display: inline-block;
        width: 7.5px;
    }

    .ratingCore{
        @include Text($txtBrownLight, $body2, $fwLight);
        padding-left: 5px;
    }
}


