.userProfile{
    &_header {
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        padding: 20px 0;

        &_avatar {
            position: relative;
            margin-top: 24px;

            &_img {
                width: 200px;
                height: 200px;
                overflow: hidden;
                margin: 0 auto;
                border: solid 2px $blackPrimary;
            }
        }

        &_editAvartarIcon {
            position: absolute;
            display: inline-block;
            cursor: pointer;
            top: 220px;
            right: 25px;
            
        }

        &_username {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            h2 {
                font-weight: 300;
            }

            p {
                @include Text($txtBlackPrimary, $h4, $fwLight);
            }
        }

        .ant-card-meta-title {
            font-size: $h4;
        }

        .ant-card.ant-card-bordered {
            display: inline-block;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.722);
            padding: 0 20px;
            position: relative;
            
            @include mediaQuery($md) {
                margin: auto;
            }
        }
    }

    &_tabs {
         
        .ant-tabs-nav-wrap {
            border-bottom: 2px solid $brownDark;
                
        }

        .ant-tabs-tab {
            border-top: 2px solid $brownDark !important;
            background-color: $whiteSecondary !important;

            &:hover, &-active, .ant-tabs-tab-btn:hover, .ant-tabs-tab-btn:active, .ant-tabs-tab-btn:focus {
                color: $brownDark;
            }
        }

        .ant-tabs-tab-active {
            background-color: $brownDark !important;
            font-size: $body2;

            & > .ant-tabs-tab-btn  {
                color: $txtWhitePrimary !important;
            }
        }

        .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
            color: $txtWhitePrimary !important;
        }
    }
}