.header {
background-color: $whitePrimary;
padding: 10px;
box-shadow: 0px -3px 10px;
position: relative;
z-index: 1000;
 .logo {
     height: 40px;
 } 

 .ant-input-search {
     border-radius: 40px;
     width: 400px;

     @include mediaQuery($md) {
        width: 100%;
        order: 3;
        margin: 10px 0 0 0;
     }
 }

 .shopping-cart {
    top: 10px;

    .anticon-shopping-cart {
        font-size: 25px;
    }
    
    @include mediaQuery($lg) {
        position: absolute;
        right: 90px;
    }
 }
 
 .ant-typography {
     span {
        font-size: 20px;
        font-weight: 600;
        line-height: 40px;
        color: $txtBlackPrimary;
     }
 }

 .loginBtn {
     border-color: $greenLight;
     color: $greenLight;

     &:hover {
        border-color: $greenPrimary;
        color: $greenPrimary;
     }
 }

 .signupBtn {
    background-color: $greenLight;
    border-color: $greenLight;

    &:hover {
        border-color: $greenPrimary;
        background-color: $greenPrimary;
     }
 }

}