.header {
 background-color: $whitePrimary;
 padding: 10px;
 box-shadow: 10px -3px 10px;

 .logo {
     height: 40px;
 } 

 .ant-input-search {
     border-radius: 40px;
     width: 500px;
 }

 .shopping-cart {
    .anticon-shopping-cart {
        font-size: 25px;
    }
    
    @media (max-width: 991.98px) {
        position: absolute;
        right: 90px;
    }
 }
 
 .ant-typography {
     span {
        font-size: 20px;
        font-weight: 600;
        line-height: 40px;
        color: $txtBlackPrimary;
     }
 }

 .loginBtn {
     border-color: $greenLight;
     color: $greenLight;

     &:hover {
        border-color: $greenPrimary;
        color: $greenPrimary;
     }
 }

 .signupBtn {
    background-color: $greenLight;
    border-color: $greenLight;

    &:hover {
        border-color: $greenPrimary;
        background-color: $greenPrimary;
     }
 }

}