.header {
background-color: $whitePrimary;
padding: 10px;
box-shadow: 0px -3px 10px;
position: relative;
z-index: 1000;
transition: height 0.5s;

   @include mediaQuery($md) {
      height: 80px;
      overflow: hidden;
   }

 .logo {
     img {
     height: 40px;
     }

     span {
        font-size: 20px;
        font-weight: 600;
        line-height: 40px;
        color: $txtBlackPrimary;
     }
 } 

 .ant-input-search {
     border-radius: 40px;
     width: 400px;
     margin-right: auto;

     @include mediaQuery($md) {
        width: 100%;
        order: 3;
        margin: 18px 0 0 0;
     }
 }

 .shoppingCartIcon {
    top: 10px;

    .anticon-shopping-cart {
        font-size: 25px;
    }
 }

 .searchCollappseIcon {
   display: none;

   @include mediaQuery($md) {
      display: inline-block;
   }
 }

 .loginBtn {
     border-color: $greenLight;
     color: $greenLight;

     &:hover {
        border-color: $greenPrimary;
        color: $greenPrimary;
     }

     @include mediaQuery($lg) {
        margin-left: auto;
        display: block;
        width: 77px;
     }
 }

 .signupBtn {
    background-color: $greenLight;
    border-color: $greenLight;

    &:hover {
        border-color: $greenPrimary;
        background-color: $greenPrimary;
     }

     @include mediaQuery($lg) {
        margin-left: auto;
        display: block;
        width: 77px;
     }
 }
}


.menu {
   padding: 16px;
   background-color: $whitePrimary;
   box-shadow: 0px 0px 5px $greyDark;
   @include Text($txtgreenDark, $body2, $fwRegular);

   a, .logoutBtn  {
      @include Text($txtgreenDark, $body2, $fwRegular);
      cursor: pointer;
   }

   a:hover, .logoutBtn:hover {
      color: $txtgreenLight;
   }

   hr {
      margin: 5px 0;
   }
}