.header {
background-color: $whitePrimary;
padding: 10px 0;
box-shadow: 0px -3px 10px;
position: relative;
z-index: 1000;
transition: height 0.5s;

   @include mediaQuery($md) {
      height: 80px;
      overflow: hidden;
   }

   .navbar {
      padding-right: 0;
      padding-left: 0;
   }

 .logo {
     img {
     height: 40px;
     }

     span {
        font-size: 20px;
        font-weight: 600;
        line-height: 40px;
        color: $txtBlackPrimary;
     }
 } 

 .ant-input-search {
     border-radius: 40px;
     width: 400px;
     margin-right: auto;

     @include mediaQuery($lg) {
        width: auto;
     }

     @include mediaQuery($md) {
        width: 100%;
        order: 3;
        margin: 18px 0 0 0;
     }
 }

 .CollappseIconGroup {
    display: flex;
    align-items: center;
    margin-left: auto;
 }

 .shoppingCartIcon {
    top: 10px;

    .anticon-shopping-cart {
        font-size: 25px;
    }
 }

 .searchCollappseIcon, .moreCollappseIcon {
   display: none;
   font-size: 25px;
   line-height: 0px;

   @include mediaQuery($md) {
      display: inline-block;
   }
 }

 .btnGroup {
    display: flex;
    @include mediaQuery($md) {
      position: absolute;
      right: 55px;
      top: 14px;
      background-color: rgba(255, 255, 255, 0.9);
      height: 100%;
      width: 0;
      overflow: hidden;
      justify-content: space-between;
      transition: width 1s;
   }
 }

 .loginBtn {
     border-color: $greenLight;
     color: $greenLight;

     &:hover, &:active {
        border-color: $greenPrimary;
        color: $greenPrimary;
     }

     @include mediaQuery($lg) {
        margin-left: auto;
        display: block;
        width: 77px;
     }
 }

 .signupBtn {
    background-color: $greenLight;
    border-color: $greenLight;

    &:hover, &:active {
        border-color: $greenPrimary;
        background-color: $greenPrimary;
     }

     @include mediaQuery($lg) {
        margin-left: auto;
        display: block;
        width: 77px;
     }

     @include mediaQuery($md) {
        margin-left: 5px;
     }
 }
}


.menu {
   padding: 16px;
   background-color: $whitePrimary;
   box-shadow: 0px 0px 5px $greyDark;
   @include Text($txtgreenDark, $body2, $fwRegular);

   a, .logoutBtn  {
      @include Text($txtgreenDark, $body2, $fwRegular);
      cursor: pointer;
   }

   a:hover, .logoutBtn:hover {
      color: $txtgreenLight;
   }

   hr {
      margin: 5px 0;
   }
}

.loading {
   height: 100vh;
   width: 100%;
   background-color: white;
}