.ant-spin-spinning {
    display: block !important;
    margin: 20px auto !important;
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    .ant-spin-text {
        color: $orangeDark;
    }

    .anticon-spin {
        color: $orangeDark;
    }
}