.courseList {
    .col-layout {
        max-width: 20%;

        @include mediaQuery($xl) {
            max-width: 20%;
        }

        @include mediaQuery($lg) {
            max-width: 25%;
        }

        @include mediaQuery($md) {
            max-width: 33.33%;
        }

        @include mediaQuery($md) {
            max-width: 50%;
        }
    }
}
    

